<!DOCTYPE html>
<html ng-app="bfApp">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tableLayout.css')}}" />

        <link rel="preload" as="font" type="font/woff2" href="/static/homebrew/css/fonts/open-sans-v27-latin-ext_latin-regular.woff2" crossorigin />
        <link rel="preload" as="font" type="font/woff2" href="/static/homebrew/css/fonts/open-sans-v27-latin-ext_latin-600.woff2" crossorigin />
    
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=1" />

        <script type="text/javascript">
            var bf_style_queue = [];
            var bf_styles_queued = 0;
            var bf_styles_loaded = 0;
    
            document.documentElement.className += ' bf_styles_delayed';
    
            window.bf_check_all_style_preloads_loaded = function() {
                if ( bf_styles_loaded >= bf_styles_queued ) {
                    window.bf_check_all_style_preloads_loaded = function() {};
                    for ( var i = 0; i < bf_styles_queued; i++ ) {
                        var e = document.getElementById( "bf_style_preload_" + i );
                        e.onload = null;
                        e.rel    = "stylesheet";
                    }
                    // Add class to body to signal all styles are loaded.
                    document.documentElement.className += ' bf_styles_loaded';
                }
            };
    
            document.addEventListener(
                'DOMContentLoaded',
                function() {
                    // If nothing in queue, signal all styles loaded.
                    if ( 0 == bf_style_queue.length ) {
                        document.documentElement.className += ' bf_styles_loaded';
                    }
    
                    while ( bf_style_queue.length ) {
                        style_url   = bf_style_queue.shift();
                        var link    = document.createElement( "link" );
                        link.href   = style_url;
                        link.as     = "style";
                        link.rel    = "preload";
                        link.id     = "bf_style_preload_" + ( bf_styles_queued++ );
                        link.setAttribute( "onload", "bf_styles_loaded++;bf_check_all_style_preloads_loaded()" );
                        document.getElementsByTagName( "head" )[0].appendChild( link );
                    }
                }
            );
        </script>
    
        <script type="text/javascript">
            bf_style_queue.push( "/static/homebrew\/css\/fomantic-2.8.8-1644507746.min.css" );
        </script>
        <noscript><link rel="stylesheet" href="/static/homebrew/css/fomantic-2.8.8-1644507746.min.css" type="text/css" /></noscript>
    
        <script type="text/javascript">
            bf_style_queue.push( "/static/homebrew\/css\/app_style.min.css.version.1655431387" );
        </script>
        <noscript><link rel="stylesheet" href="/static/homebrew/css/app_style.min.css.version.1655431387" type="text/css" /></noscript>
                
        <script  type="text/javascript" src="/static/homebrew/js/jquery-3.6.0.min.js"></script>
        <script  type="text/javascript" src="/static/homebrew/js/jquery-ui-1.13.0.custom.min.js"></script>
        <script  type="text/javascript" src="/static/homebrew/js/jquery-ui-floatbox.1.0.1.min.js"></script>
    
        <script type="text/javascript">
            bf_style_queue.push( "/static/homebrew\/css\/fonts\/fonts.css.version.1655431387" );
        </script>
        <noscript><link rel="stylesheet" href="/static/homebrew/css/fonts/fonts.css.version.1655431387" type="text/css" /></noscript>
    
        <script  type="text/javascript" src="/static/homebrew/js/fomantic-2.8.8-1644507746.min.js"></script>
    
        <script type="text/javascript">
            var Defer_queue = [];
            document.addEventListener(
                'DOMContentLoaded',
                function() {
                    while ( Defer_queue.length ) {
                        Defer_queue.shift().call();
                    }
                }
            );
        
            function Defer( fn ) {
                            fn.call();
                    }
        
            function Ready( fn ) {
                if (document.readyState != 'loading'){
                    fn();
                } else {
                    document.addEventListener('DOMContentLoaded', fn);
                }
            }
        </script>

    </head>

    <body id="BFBlog">
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <a href="{{ url_for('about') }}" class="navbar-item">About</a>
            <a href="{{ url_for('contact') }}" class="navbar-item">Contact</a>
        </div>

        <div class="body-content">
            <hr/>
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>© 2022</p>
            </footer>
        </div>
    </body>
</html>